<!--<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>ENTREE</title>
    </head>
    <body>

    <div style=" font-size: 25px; text-align: justify; margin-left: 20%; margin-right: 20%;">
        <h3>HELLO ! Et Bienvenue </h3>
        <h2>Toi qui cherche quoi regarder ce soir, entre ici</h2>

        <img th:src="@{moviesermoi.jpg}" alt="affiche">

        <button th:onclick="location.href='@{/}'">Aller à la page Home</button>
        <a th:href="@{/}">Accueil</a> 
    </div>
   
    </body>
</html>-->


<!--<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil de Mon Site</title>

</head>
<body>
    <header>
        <h1>Bienvenue sur Mon Site</h1>
    </header>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a th:href="@{/}" class="menu-item">Accueil</a> </li>
             autres liens 
        </ul>
    </nav>

    <h2> si ça ne marche pas je ne sais pas quoi faire</h2>
    <main>
        <h2>HELLO ! Et Bienvenue</h2>
        <p>Toi qui cherche quoi regarder ce soir, entre ici</p>
        <img src="static/moviesermoi.jpg" alt="affiche">  Assurez-vous du chemin exact en local
        <button onclick="location.href='/'">Aller à la page Home</button>
    </main>
    <footer>
        <p>&copy; 2025 Mon Site. Tous droits réservés.</p>
    </footer>
</body>
>-->