<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>feelGood</title>
    </head>
    <body>
      
      <div th:replace="~{header::header}"></div>
<div>

</div>

       <!-- Barbie-->
       <div class="containerC">
        <div class="columnC">
            <div class="image-container">
                <img class="affiche" th:src="@{/img/affiches/barbie.jpg}" alt="affiche">
            </div>
        </div>
    
        <div class="columnC">
            <h3>Barbie</h3>
            <p>
                Barbie, qui vit à Barbie Land, est expulsée du pays pour être loin d'être une poupée à l'apparence parfaite; 
                n'ayant nulle part où aller, elle part pour le monde humain et cherche le vrai bonheur
            </p>
        </div>
        <div class="columnC">
            <h3>Mon avis</h3>
            <p>
                Le film est plsu complexe que ce que veut bien en dire le synopsis.
                Entre la place des femmes dans la société, celle de l'homme, comment chacun se perçoit en tant qu'être humain.
                Le tout porté par Margot Robbie avec brio. 
                Le monde de Barbie est beaucoup plus complexe qu'une simple histoire de talon aiguille.
            </p>
        </div>
    </div>

    <!-- Je ne me laisserai plus faire-->
    <div class="containerC">
        <div class="columnC">
            <div class="image-container">
                <img class="affiche" th:src="@{/img/affiches/jeNeMeLaisseraiPlusFaire.jpg}" alt="affiche">
            </div>
        </div>
    
        <div class="columnC">
            <h3>Je ne me laisserai plus faire</h3>
            <p>
                Anticipant l'expulsion de son Ehpad après la mort de son fils et unique soutien, Émilie, septuagénaire rebelle, décide de se venger de tous ceux qui lui ont fait du mal. 
                Au cours de ce voyage qui l'amène à trancher dans le vif pour redresser les torts, Émilie est rejointe par Linda, une femme de ménage avec qui elle a tissé des liens étroits. 
                Elle aussi, n'ayant plus rien à perdre, entre en guerre contre ceux qui l'ont méprisée et haïe. Bientôt, ces deux comparses sont traquées par un binôme de policiers…
            </p>
        </div>
        <div class="columnC">
            <h3>Mon avis</h3>
            <p>
               Un vrai feel good movie ! 
               Avec Yolande Moreau, magnifique et tout à fait à sa place.
               Il y avait Tatie Danielle et maintenant il y a Emilie. Plus subtile, pas forcément moins méchante mais ça n'est plus gratuit.
            </p>
        </div>
    </div>

    <!-- Winter Break-->
    <div class="containerC">
        <div class="columnC">
            <div class="image-container">
                <img class="affiche" th:src="@{/img/affiches/winterbreak.jpg}" alt="affiche">
            </div>
        </div>
    
        <div class="columnC">
            <h3>Winter Break</h3>
            <p>
    Hiver 1970 : M. Hunham est professeur d’histoire ancienne dans un prestigieux lycée d’enseignement privé pour garçons de la Nouvelle-Angleterre. 
    Pédant et bourru, il n’est apprécié ni de ses élèves ni de ses collègues. 
    Alors que Noël approche, M. Hunham est prié de rester sur le campus pour surveiller la poignée de pensionnaires consignés sur place. 
    Il n’en restera bientôt qu’un : Angus, un élève de 1ere aussi doué qu’insubordonné. 
    Trop récemment endeuillée par la mort de son fils au Vietnam, Mary, la cuisinière de l’établissement, préfère rester à l’écart des fêtes.
     Elle vient compléter ce trio improbable.
     </p>
    </div>
    <div class="columnC">
        <h3>Mon avis</h3>
        <p>
           J'ai placé ce film ici, parce qu'il regonfle le coeur (même si on peut verser quelques larmes d'émotion).
           Je n'ai pas pu m'empêché de penser au cercle des poètes disparus en voyant ce film, même s'il n'y a pas de cercle ni poètes.
           Il faut laisser le film vous emmener et vous passerez un très bon moment émouvant.
        </p>
    </div>
</div>


        <div th:replace="~{footer::footer}"></div>
    </body>
</html>