<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>ACCUEIL</title>
    </head>
    <body>
        <link th:href="@{style/css/app.css}"
    rel="stylesheet" />
      
    <div th:insert="header::header"></div>

    <div class="presentation">
        <h3>Salut à toi, valeureux-se guerrier-ère de la cinéphilie ! </h3>

Ce site est mon île de Themyscira, un sanctuaire dédié à mes goûts personnels en matière de cinéma et de séries. <br>
Ici, tu découvriras une collection héroïque de films et séries que j'ai vus, aimés et qui m'ont inspiré autant que le lasso de vérité.<br><br>

Mais attends, ce n'est pas tout ! Ce site est en perpétuelle évolution, tel un champ de bataille où je teste et perfectionne mes techniques de développement web et de déploiement. Oui, tu l'as bien compris, ce site unit ma passion pour le cinéma et les séries, et mon amour pour le code et l'innovation. 

Prépare-toi à des mises à jour aussi régulières que les combats menés par les Amazones, des ajustements audacieux, et peut-être même quelques bugs qui feront surface (même les héroïnes ont des défis à relever, n'est-ce pas ?). J'espère que tu prendras autant de plaisir à explorer ce site que j'en ai à le développer et à partager mes coups de cœur avec toi.
<br><br>
Alors, enfile tes bracelets de force, saisis ton lasso de vérité, et plonge dans un univers où le cinéma et la programmation sont aussi puissants qu'une amazone en pleine action. Bonne découverte !
    </div>
    <br><br><br><br>


    <div th:insert="footer :: footer"></div>

    </body>
</html>