<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Horreur</title>
    </head>
    <body>
      
      <div th:replace="~{header::header}"> test </div>

             <!-- Alien Romulus-->
             <div class="containerC">
                <div class="columnC">
                    <div class="image-container">
                        <img class="affiche" th:src="@{/img/affiches/alienromulus.jpg}" alt="affiche">
                    </div>
                </div>
            
                <div class="columnC">
                    <h3>Alien : Romulus</h3>
                    <p>
                        Les colonisateurs de l'espace se retrouvent face à face avec la forme de vie la plus 
                        terrifiante de l'univers tout en fouillant les profondeurs d'une station spatiale abandonnée.
                    </p>
                </div>
                <div class="columnC">
                    <h3>Mon avis</h3>
                    <p>
                        J'aurai bien aimé dire que le film était plus complexe que ce qu'en dit le synopsis, malheureusement ce n'est pas le cas. 
                        Un groupe de jeunes part à la recherche de cryo caissons pur partir pour un ailleurs meilleur et cela tourne mal.
                        Dans ce film, la quasi totalité des scènes sont des gros clins d'oeil appuyé à tous les aliens précédents. Et Ripley manque cruellement.
                        Bien que la jeune actrice se démène plutôt pas mal pour endosser ce costume, Helen Ripley et Sigourney Weaver manque à cet opus qui n'est qu'une redite de tous les autres opus mélangés.
                    </p>
                </div>
            </div>

             <!-- La main-->
             <div class="containerC">
                <div class="columnC">
                    <div class="image-container">
                        <img class="affiche" th:src="@{/img/affiches/laMain.jpg}" alt="affiche">
                    </div>
                </div>
            
                <div class="columnC">
                    <h3>La Main</h3>
                    <p>
                        Lorsqu'un groupe d'amis découvre comment conjurer les esprits à l'aide d'une mystérieuse main hantée, ils deviennent accros à ce nouveau frisson, 
                        et l'expérience fait le tour des réseaux sociaux. Une seule règle à respecter : ils ne doivent pas tenir la main plus de 90 secondes. 
                        Lorsque l'un d'entre eux l'enfreint, ils vont être rattrapés par les esprits, les obligeant à choisir : à qui se fier, aux morts ou aux vivants ?
                    </p>
                </div>
                <div class="columnC">
                    <h3>Mon avis</h3>
                    <p>
                        Ce n'est pas le film du siècle, mais il fait le job. Il tient en haleine.
                        la tension est là quand il faut, sans plus ni pas assez.
                        A regarder un soir au coin du feu.
                    </p>
                </div>
            </div>


        <div th:replace="~{footer::footer}"></div>

    </body>
</html>