<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>SF</title>
    </head>
    <body>
      
      <div th:insert="header::header"> SF et autres catégories</div>

             <!-- Dune-->
             <div class="containerC">
                <div class="columnC">
                    <div class="image-container">
                        <img class="affiche" th:src="@{/img/affiches/Dune.jpg}" alt="affiche">
                    </div>
                </div>
            
                <div class="columnC">
                    <h3>Dune : Première partie et Deuxième Partie</h3>
                    <p>
                        Première Partie : Paul Atreides, un jeune homme brillant et doué au destin plus grand que lui-même, 
                        doit se rendre sur la planète la plus dangereuse de l'univers afin d'assurer l'avenir de sa famille et de son peuple.
                        <br>

                        Deuxième Partie : Paul Atréides se rallie à Chani et aux Fremen tout en préparant sa revanche contre ceux qui ont détruit sa famille. Alors qu'il doit faire un choix entre 
                        l'amour de sa vie et le destin de la galaxie, il devra néanmoins tout faire pour empêcher un terrible futur que lui seul peut prédire.
                    </p>
                </div>
                <div class="columnC">
                    <h3>Mon avis</h3>
                    <p>
                        N'ayant pas lu les livres, je ne peux pas juger si les films respectent ou non l'histoire.
                        J'ai évidemment en mémoire des images du film de David Lynch, ce qui fausse forcément mon opinion.
                        L'esthétique des films est magnifique ! Les images nous immergent dans l'histoire et nous invitent à poursuivre le voyage.
                        Mon regret est que dès le départ du film, il semble que le réalisateur a pris le parti de considérer que tous les spectateurs connaissent le livre ou son univers.
                        De ce fait, le néophyte (tel que je peux être) aura du mal à comprendre de Bene Gesserit, la relation entre les Atréides et les Arkonens, de même que le peuple Fremen.
                        C'est mon regret et j'avoue que cela m'a un peu gâché le plaisir malgré tout.
                    </p>
                </div>
            </div>
      

        <div th:insert="footer :: footer"></div>

    </body>
</html>