<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Thriller</title>
    </head>
    <body>
      
      <div th:replace="~{header::header}"> thriller </div>

       <!-- Love lies bleeding-->
       <div class="containerC">
        <div class="columnC">
            <div class="image-container">
                <img class="affiche" th:src="@{/img/affiches/loveliesbleeding.jpg}" alt="affiche">
            </div>
        </div>
    
        <div class="columnC">
            <h3>Love Lies Bleeding</h3>
            <p>
                Lou, la gérante d'un gym, tombe éperdument amoureuse de Jackie, une culturiste ambitieuse 
                en route vers Vegas pour y accomplir ses rêves. Leur amour explosif les entraîne malgré elles dans une spirale de violence.
            </p>
        </div>
        <div class="columnC">
            <h3>Mon avis</h3>
            <p>
                Dit comme ça, ça ressemble à une simple romance qui tourne mal. Et quelque part c'est le cas.
                Sauf que c'est sans compter certains rebondissements, une touche de féminisme, et un brin d'irréel.
                Le film porte bien son titre, il s'agit bien d'amour, de mensonges et de sang qui coule.
                A ne pas regarder si c'est pour une soirée romantique !
            </p>
        </div>
    </div>

<!-- Blink Twice-->
                         <div class="containerC">
                            <div class="columnC">
                                <div class="image-container">
                                  <img class="affiche" th:src="@{/img/affiches/blinktwice.jpg}" alt="affiche">
                                </div>
                            </div>
                                                       
                            <div class="columnC">
                                <h3>Blink Twice</h3>
                                <p>
                                   Frida est une jeune et intelligente serveuse de Los Angeles qui a les yeux fixés sur le philanthrope et magnat de la technologie, Slater King. 
                                   Elle réussit à s'introduire dans le cercle fermé de King et à participer à une réunion intime sur son île privée.
                                </p>
                            </div>
                            <div class="columnC">
                               <h3>Mon avis</h3>
                                <p>
                                   Je ne m'y attendais pas du tout ! ce film mérite d'être vu et de se laisser porter et surprendre. 
                                   Au départ, on se demande bien où il veut nous emmener et une fois qu'on le sait, on n'est plus sûr qu'on voulait le savoir.
                                   Impossible d'en dire plus sans dévoiler un peu de l'intrigue.
                                   Vous pouvez y aller les yeux grands ouverts...
                                </p>
                            </div>
                        </div>

        <div th:replace="~{footer::footer}"></div>

    </body>
</html>