<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Footer</title>

    <link th:href="@{styles/css/app.css}"
    rel="stylesheet" />
    
</head>
<body>
    <footer>
        <div class="footer">
 <a style="font-weight: bold">Movies et moi  </a>
 <br>
 Passionnée par le cinéma et les séries, ce site est un espace pour partager mes découvertes et mes coups de coeur
 <br> &copy; THEBAULT Ariane
 Conceptrice Développeuse d'Applications
        </div>
    </footer>
    </body>
    </html>